<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.final_project">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final_Project">
        <activity
            android:name="Location.MainActivityLocation"
            android:exported="true" />
        <activity
            android:name=".MainActivityPullOfApplications"
            android:exported="true" />
        <activity
            android:name="Firebase.DBMainActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivityDrum"
            android:exported="true"
            android:label="@string/title_activity_main_drum"
            android:theme="@style/Theme.Final_Project.NoActionBar" />
        <activity
            android:name=".MainActivityApplication"
            android:exported="true"
            android:label="@string/title_activity_main_will_callback"
            android:theme="@style/Theme.Final_Project.NoActionBar" />
        <activity
            android:name=".MainActivityDiscounts"
            android:exported="true"
            android:label="@string/title_activity_main_discounts"
            android:theme="@style/Theme.Final_Project.NoActionBar" />
        <activity
            android:name=".MainActivityCountries"
            android:exported="true"
            android:theme="@style/Theme.Final_Project.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>